.login-page {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .login-page .login-form {
    width: 500px; }
    .login-page .login-form input {
      border: 1px solid black;
      width: 100%;
      padding: 8px; }
    .login-page .login-form .field {
      padding: 10px 0; }
    .login-page .login-form_actions button {
      width: 100%;
      border: 1px solid black;
      background-color: lightgreen;
      padding: .5rem; }
